@import "normalize.css";
@import url("http://fonts.cdnfonts.com/css/proxima-nova-2");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Proxima Nova", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

body {
  overflow: hidden overlay;
}

:root {
  --primary: #fe2c55;
  --black: #161823;
  --gray: #1618230f;
  --text-heading: #16182380;
  --white: #ffffff;
  --icon-color: #a6a7ac;
  --hover: #16182308;
  --active: #1618230f;
  --border: #16182333;

  //Default layout
  --default-layout-header-height: 60px;
  --default-layout-header-width: 1150px;
  --default-layout-header-horizontal-space: 26px;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 92px;
}

button {
  display: flex;
  border: none;
  background-color: transparent;
}
a {
  color: currentColor;
  text-decoration: none;
}

//custom tippy tooltip
body {
  .tippy-box {
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    background: #545454eb;
  }
  .tippy-arrow {
    color: #545454eb;
  }
  .tippy-box[data-placement^="bottom"] > .tippy-arrow:before {
    top: -8px;
  }
  .tippy-content {
    padding: 8px 9px;
  }
}
