.menu-wrapper {
  width: 233px;
  .menu-item {
    display: flex;
    width: 110%;
    height: 42px;
    background-color: #fff;
    color: var(--black);
    padding: 10px 16px;
    margin-left: 0;
    border: none;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    &:hover {
      background-color: var(--hover);
    }
  }
}
