.wrapper {
  --search-border-radius: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: var(--default-layout-header-height);
  z-index: 10;
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  background: var(--white);
  .inner {
    width: var(--default-layout-header-width);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px 0 20px;

    .actions {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 36px;
      .upload-button {
        padding-left: 0;
      }
      .more-btn {
        cursor: pointer;
      }
    }
    .current-user {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 36px;
      .inbox-btn {
        margin: 0 24px;
        cursor: pointer;
      }
      .user-avatar {
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }
}
