.wrapper {
  display: flex;
  padding: 9px 16px;
  align-items: center;
  .avatar {
    border-radius: 50%;
    margin-right: 12px;
  }
  .info {
    width: 280px;
    .name {
      display: flex;
      align-items: center;
      .check-icon {
        margin-left: 4px;
        margin-left: 4px;
        color: #20d5ec;
      }
    }
    .user-name {
      color: var(--text-heading);
      font-size: 14px;
    }
  }
}
.wrapper:hover {
  background: var(--hover);
}
